/* STILE PAGINA GENERALE*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body{
    background-color: lightgray;
}
/* HEADER LOGO */

#logo{
    width: 100%;
    background-color: white;
}

 .logo-img{
    margin: 5px 0 5px 30px;
    width: 60px;
    line-height: 60px;
    vertical-align:middle;  
 }

 .logo-title{
    line-height: 60px;
    vertical-align:middle;
    font-size: 35px;
    font-weight: bold;
 }

 /* CORPO PAGINA */

 #main-container{
    width:80%;
    height: 670px;
    margin: 0 auto;
    background-color: white;
    margin-top: 40px;
    border-radius: 10px;
 }

    /* SEZIONE ADD TASK */
 #task-add{
    width: 100%;
    border-bottom: 1px solid grey;
    height: 100%;
    line-height: 50px;
    margin-bottom: 50px;
 }

 .button{
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: white;
 }

#button-task{
    background-color: #6495ED;
    margin-left: 40px;
    color: white;  
}

#button-section{
    width: 120px;
    background-color: darkgrey;
}

/* SECTION TASK  */

.task{
    margin-left: 40px;
    margin-bottom: 40px; 
}

.title-task{
    margin-bottom: 10px;
}

.duty{
    margin-bottom: 30px;
}

.symbol{
    padding: 5px;
    font-size: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.checked{
    color: green;
    border: 1px solid green;
}

.nochecked{
    color: red;
    border: 1px solid red
}
    /* SEZIONE LABLES */

.lable{
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 10px;
}

.blue{
    background-color: #6495ED;
}

.violet{
    background-color: violet;
}

.green{
    background-color: darkgreen;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.yellow{
    background-color: darkorange;
}